<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="PythonGatesService" value="https://10.10.60.41/ComputerVisionGate"/> 
      <!--0 For post without image-->
      <!--1 For post with image-->
      <!--2 For post with gesture image-->
      <!--3 For post with  two image-->
      <!--4 For GET without image-->
      <add key="ImageNumber" value="1"/>     
    </appSettings>
</configuration>